<md-toolbar md-scroll-shrink md-shrink-speed-factor="0.5" layout="row" layout-align="center center">
    <div class="some">&nbsp;</div>
    <span flex></span>
    <md-menu layout layout-align="center center" md-offset="0 80">
        <md-button aria-label="Settings" class="md-icon-button md-primary avatar" ng-click="$mdOpenMenu()">
            <img ng-src="{{header.getUserAvatar()}}" alt="{{header.getCurrentUser().name}}">
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button layout-align="start center" layout>
                    <md-icon md-font-library="material-icons" md-menu-align-target>face</md-icon>Redial
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button layout-align="start center" layout>
                    <md-icon md-font-library="material-icons" md-menu-align-target>face</md-icon>Redial
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button layout-align="start center" layout>
                    <md-icon md-font-library="material-icons" md-menu-align-target>face</md-icon>Redial
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-toolbar>
