.headerbar{
    md-toolbar{
        background: $accentColor;
        border-bottom: 0;
        md-menu{
            padding: 0;
            margin: 0;
        }
        .avatar{
            background-color: white;
        }
    }
}
