.login{
    background-color: white;
    a{
        color: $siteTextColor;
        text-decoration: none;
    }
    .logo{
        width: 100px;
        margin-top: 15px;
        margin-bottom: 10px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .site-name{
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    .welcome-message{
        text-align: center;
    }
    .float-box{
        width: 90%;
        max-width: 320px;
    }
    .help-text{
        margin: 30px 0;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
    }
    .help-block{
        font-size: 12px;
        color: $md-clr-red;
        margin: 0 0 15px 0;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
    }
    md-progress-linear{
        margin-bottom: 30px;
    }
    md-input-container.md-default-theme,
    md-input-container.md-default-theme.md-input-has-value,
    md-input-container.md-default-theme.md-input-focused{
        label{
            color: $siteTextColor;
        }
        .md-input{
            color: $siteTextColor;
            border-color: $borderColor;
        }
    }
}
