<section ng-show="dash.isLogged" layout="row" flex layout-fill style="height:100%;">
    <md-sidenav class="sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-content layout-fill flex class="sidenav">
            <div class="new-note" layout="row" layout-align="space-between center">
                <h4>Write New</h4>
                <md-button class="md-icon-button" aria-label="Menu">
                    <md-icon><i class="fa fa-bars"></i></md-icon>
                </md-button>
            </div>
            <div class="latest-notes">
                <h4>Latest</h4>
                <div class="note" ng-repeat="note in dash.notes" layout="column" ng-click="dash.setNoteView($index)">
                    <div class="title">{{note.title.rendered}}</div>
                </div>
            </div>
        </md-content>
        <div class="search">
            <md-input-container>
                <label>Search</label>
                <input ng-model="search" required type="text" name="search">
            </md-input-container>
        </div>

    </md-sidenav>

    <div layout="column" role="main" flex>
        <div class="subhead" ng-if="dash.editorVisible">
            <div class="top" layout="row" layout-align="space-between center">
                <div class="title" flex>
                    <md-input-container>
                        <input ng-model="dash.currentNote.title.rendered" aria-label="title">
                    </md-input-container>
                </div>
                <div class="actions">
                    <md-button class="md-icon-button md-accent" title="Delete Note" aria-label="Delete Note">
                        <md-icon><i class="fa fa-trash"></i></md-icon>
                    </md-button>
                </div>
            </div>
            <text-angular-toolbar ta-toolbar="dash.editor.toolbar" name="toolbar1"></text-angular-toolbar>
        </div>
        <md-content md-scroll-y flex ng-if="dash.editorVisible">
            <text-angular ta-target-toolbars='toolbar1' ng-model="dash.currentNote.content.rendered"></text-angular>
        </md-content>
    </div>
</section>
