.sidenav-left{
    background-color: $accentColor;
    &.md-locked-open{
        width: 308px;
        min-width: 308px;
    }
    .sidenav{
        background-color: $accentColor;
        padding: 20px 10px;
        color: white;
        h4{
            text-transform: uppercase;
        }
        .new-note{
            h4{
                border-left: 2px solid white;
                padding-left: 15px;
            }
            i{
                color: white;
            }
        }
        .latest-notes{
            h4{
                margin: 0 0 15px 0;
            }
        }
        .note{
            padding: 5px 0;
            cursor: pointer;
            .title{
                font-weight:500;
                color: white;
                font-size: 15px;
                opacity: .75;
                @include transition(opacity .25s);
            }
            &:hover,
            &.active{
                .title{
                    opacity: 1;
                    @include transition(opacity .25s);
                }
            }
        }
    }
    .search{
        padding: 20px 10px;
        md-input-container.md-default-theme,
        md-input-container.md-default-theme.md-input-has-value,
        md-input-container.md-default-theme.md-input-focused{
            label{
                color: white;
            }
            .md-input{
                color: white;
                border-color: white;
            }
        }
    }
}
